@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

$font-stack: 'PT Sans Caption', sans-serif;;
$primary-color: #fff;
$secondary-color: #FF5E5E;
$third-color: #1C1C1C;
$fourth-color: #0096c7;
